@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    margin-right: 2px;
  }
  
  body::-webkit-scrollbar-thumb {
    background:#4B36AC;
    border-radius: 20px;  
  }

/* OOCSS */
.marge{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.violet{ color: #4B36AC; }
.bgViolet{ background-color: #4B36AC; }
.border-violet{border: #4B36AC 5px solid !important;}
.light{color: #ededed;}

a{text-decoration: none !important;}
a.link{color: #4B36AC;}
a.link:hover{color: #180b4e;}
button{border: none; min-width: 100px;}
.button{
    background-color: #4B36AC;
    color: white;
    border-radius:50px;
    padding: 12px 10px 12px 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .20);
    text-decoration: none;
    transition: all .3s ease;
}
.button:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .20);
    transform: translate(1px, 1px);
    text-decoration: none;
    color: white;
}

    .button img{
       margin-left: 10px;
    }

h2, h4{
    font-family: 'Viga', sans-serif;
    color: #4B36AC;
    text-transform: uppercase;
}

.page{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .30);
}


/* nav */
nav.list-categorie{
    background-color: #4B36AC;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, .25);
}
    nav.list-categorie a{
        font-family: 'Viga', sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        transition: opacity .2s ease;
    }
        nav.list-categorie a:hover{
            opacity: .5;
        }

/* Login */
.login{
    height: 100vh;
}

    .connexion, .inscription{
        width: 400px;
        height: 500px;
        padding: 30px !important;
        margin: 10px;
        border-radius: 10px;
    }

        .connexion input, .inscription input{
            background-color: #171717;
            color: #ededed;
            border: #4B36AC 1px solid;
            margin-bottom: 10px;
        }

        .connexion .btn, .inscription .btn{
            background-color: #ededed !important;
            color: #4B36AC !important;
            border-color: #4B36AC !important;
        }
        .connexion .btn:hover, .inscription .btn:hover{
            color: #ededed !important;
            background-color: #4B36AC !important;
            border-color: #4B36AC !important;
        }


/* newPost */
.newPost input, .newPost select, .newPost textarea{
    border-color: #4B36AC;
}

/* sujet */
.sujetText H4 a {
    font-family: 'Viga', sans-serif;
    color: #4B36AC;
    text-transform: uppercase;
}



/* etiquette */
span a{
    color: white;
    transition: color .2s ease;
}

span a:hover{
    color: silver;
}


span.categorie{
    background-color: #4B36AC;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .20);
}

span.valider{
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

button.voirMessage{
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

span.suppression{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    width: 140px;
    display: flex;
    justify-content: center;
}


/* search */
.search form input {
    border: none;
    background: transparent;
}
.search form button {
    border: none;
    background: transparent;
}


/* sidebar */
.newsletter button{
    background-color: transparent;
}
.pub1{
    background: url('https://labo.fnac.com/wp-content/uploads/2021/03/Intel-11th_Gen-Core-desktop-1-650x455.jpg');
    background-size: cover;
    background-position: center;
    content:" ";
    height: 200px;
}

.plus{
    position: fixed;
    top: 150px;
    left: 50px;
}
.plus p{
    opacity: 0;
    transform: translateX(-200px);
}
.plus:hover img{
    animation: turnPlus .6s ease-in;
    transform: rotate(360deg);
}
.plus:hover p{
    animation: apparition .6s ease-in;
    opacity: 1;
    transform: translateX(0px);
}

@keyframes turnPlus {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes apparition {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    50%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* PAGZ 404 */

.page404 h3{
    font-size: 6em;
}
.page404 a{
    color: black;
    text-decoration: underline !important;
}